<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %} - Pokemon Stats</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="{{ asset('css/global.css') }}">

        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    <header>
        <div class="container">
            <div class="row">
                <div class="col-xs-8">
                    <a href="{{ path('index') }}" alt="Pokemon Go">
                        <img src="{{ asset('images/logo.png') }}" />
                    </a>
                </div>
                <div class="col-xs-4 text-right">
                    {% if app.user %}
                        <a href="{{ path('logout') }}">Se déconnecter</a>
                    {% else %}
                        <a href="{{ path('login') }}">Se connecter</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        {% for label, flashes in app.session.flashbag.all %}
            {% for flash in flashes %}
                <div class="alert alert-{{ label }}">
                    <p>{{ flash }}</p>
                </div>
            {% endfor %}
        {% endfor %}
        {% block body %}{% endblock %}
    </div>
    <footer class="text-center">
        &copy; Pokemon | Made with love & <a href="https://github.com/Tilotiti/Pokemon" target="_blank">Open Source</a> by <a href="https://www.tiloweb.com/" target="_blank">Tiloweb.com</a>
    </footer>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% block javascript %}{% endblock %}
    </body>
</html>
