<!DOCTYPE html>
<html lang=”{{ app.request.locale }}-{{ app.request.locale }}”>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %} - Poke Rank</title>
        <meta name="description" content="{{ "seo.description" | trans }}" />

        <link rel="icon" type="image/x-icon" href="{{ asset('images/pokeball.png') }}" />

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('css/global.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    <header>
        <div class="container">
            <div class="row">
                <div class="col-xs-4">
                    <a href="{{ path('index') }}" title="Poke-rank">
                        <img src="{{ asset('images/logo.png') }}" alt="Poke-rank"/>
                    </a>
                </div>
                <div class="col-xs-8 text-right">
                    <a href="{{ path('index') }}">{{ 'menu.rank' | trans }}</a>
                    <a href="{{ path('cluster') }}">{{ 'menu.cluster' | trans }}</a>
                    {% if app.user %}
                        <a href="{{ path('player') }}">{{ 'menu.account' | trans }}</a>
                        {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                            <a href="{{ path('index', {'_switch_user': '_exit'}) }}">{{ 'menu.logout' | trans }}</a>
                        {% else %}
                            <a href="{{ path('logout') }}">{{ 'menu.logout' | trans }}</a>
                        {% endif %}
                        <div id="notifications">
                            {% if notificationCountUnread() > 0  %}
                                <div class="label label-pill label-info">
                                    <i class="glyphicon glyphicon-envelope"></i> {{ notificationCountUnread() }}
                                </div>
                            {% else %}
                                <div class="label label-pill label-default">
                                    <i class="glyphicon glyphicon-envelope"></i> 0
                                </div>
                            {% endif %}
                            <div id="notificationBox">
                                {% for notification in notificationList(5) %}
                                    <a href="{{ notificationLink(notification) }}" class="{% if notification.read %}read {% endif %}notification">
                                        <div class="icon">
                                            <i class="glyphicon glyphicon-{{ notification.icon }}"></i>
                                            {{ notification.category | trans([], 'notification') }}
                                        </div>
                                        <div class="main">
                                            <b>{{ notification.datetime | localizeddate('medium', 'medium', app.request.locale) }}</b>
                                            <p>{{ notification.code | trans(notification.params, 'notification') }}</p>
                                        </div>
                                    </a>
                                {% endfor %}
                                <a href="{{ path('notification') }}" class="all">
                                    <em>{{ 'notification.seeAll' | trans }}</em>
                                </a>
                            </div>
                        </div>
                    {% else %}
                        <a href="{{ path('login') }}">{{ 'menu.login' | trans }}</a>
                    {% endif %}

                    <a href="{{ path('change_locale', {
                        'locale': 'en',
                        'back': app.request.uri
                    }) }}" class="flag">
                        <img src="{{ asset('images/flag/en.png') }}" alt="Translate in English" />
                    </a>
                    <a href="{{ path('change_locale', {
                        'locale': 'fr',
                        'back': app.request.uri
                    }) }}" class="flag">
                        <img src="{{ asset('images/flag/fr.png') }}" alt="Traduire en Français" />
                    </a>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        {% for label, flashes in app.session.flashbag.all %}
            {% for flash in flashes %}
                <div class="alert alert-{{ label }}">
                    <p>{{ flash }}</p>
                </div>
            {% endfor %}
        {% endfor %}
        {% block body %}{% endblock %}
    </div>
    <footer class="text-center">
        &copy; Pokemon | Made with love & <a href="https://github.com/Tilotiti/Pokemon" target="_blank">Open Source</a> by <a href="https://www.tiloweb.com/" target="_blank">Tiloweb.com</a>
    </footer>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ google_analytics }}', 'auto');
        ga('send', 'pageview');
    </script>
    {% block javascript %}{% endblock %}
    </body>
</html>
