{% extends 'base.html.twig' %}

{% block title %}{{ "title.index" | trans }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{ 'title.index' | trans }}
                    <div class="tools">
                        <select id="selectOrder">
                            <option {% if app.request.query.get('order', 'xp') == 'xp' %}selected{% endif %} value="xp">{{ "order.xp" | trans }}</option>
                            <option {% if app.request.query.get('order', 'xp') == 'km' %}selected{% endif %} value="km">{{ "order.km" | trans }}</option>
                            <option {% if app.request.query.get('order', 'xp') == 'discovered' %}selected{% endif %} value="discovered">{{ "order.discovered" | trans }}</option>
                            <option {% if app.request.query.get('order', 'xp') == 'catched' %}selected{% endif %} value="catched">{{ "order.catched" | trans }}</option>
                        </select>
                    </div>
                </div>
                <div class="panel-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>{{ "trainer" | trans }}</th>
                            <th class="text-center">{{ "player.level" | trans }}</th>
                            <th class="text-center">{{ "player.xp" | trans }}</th>
                            <th class="text-center">{{ "player.km" | trans }}</th>
                            <th class="text-center">{{ "player.discovered" | trans }}</th>
                            <th class="text-center">{{ "player.pokemons" | trans }}</th>
                            <th class="text-center">{{ "player.catched" | trans }}</th>
                            <th class="text-center">{{ "player.evolved" | trans }}</th>
                            <th class="text-center">{{ "player.cpmax" | trans }}</th>
                            <th class="text-center">{{ "player.cptotal" | trans }}</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for player in listUser %}
                                <tr class="team_{{ player.team }} {% if app.user == player %}active{% endif %}">
                                    <td>
                                        {{ loop.index + (( app.request.get('page', 1) - 1) * 20) }}
                                    </td>
                                    <td>
                                        <img src="{{ asset('images/team_'~ player.team ~'.png') }}" class="team">
                                        <a href="{{ path('player', {username: player.username}) }}">
                                            {% if player.name is not empty %}
                                                <strong>{{ player.name }}</strong>
                                                <span class="hidden-md hidden-xs">({{ player.username }})</span>
                                            {% else %}
                                                <strong>{{ player.username }}</strong>
                                            {% endif %}
                                        </a>
                                    </td>
                                    <td class="text-center">{{ player.level }}</td>
                                    <td class="text-center">{{ player.xp }}</td>
                                    <td class="text-center">{{ player.km }}</td>
                                    <td class="text-center">{{ player.discovered }}</td>
                                    <td class="text-center">{{ player.pokedex | length }}</td>
                                    <td class="text-center">{{ player.catched }}</td>
                                    <td class="text-center">{{ player.evolved }}</td>
                                    <td class="text-center">{{ player.maxCP }}</td>
                                    <td class="text-center">{{ player.totalCP }}</td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td class="text-center" colspan="11">
                                        <em>{{ "any.player" | trans }}</em>
                                    </td>
                                </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="panel-footer">
                    {{ pagination(listUser) }}
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="panel panel-default">
                <div class="panel-heading">{{ 'stats.team.xp' | trans }}</div>
                <div class="panel-body">
                    <div id="teamStats_xp" class="stats"></div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="panel panel-default">
                <div class="panel-heading">{{ 'stats.team.km' | trans }}</div>
                <div class="panel-body">
                    <div id="teamStats_km" class="stats"></div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="panel panel-default">
                <div class="panel-heading">{{ 'stats.team.discovered' | trans }}</div>
                <div class="panel-body">
                    <div id="teamStats_discovered" class="stats"></div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="panel panel-default">
                <div class="panel-heading">{{ 'stats.team.catched' | trans }}</div>
                <div class="panel-body">
                    <div id="teamStats_catched" class="stats"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
        $(function() {
            $('#selectOrder').on('change', function() {
                document.location.href = "{{ path('index') }}?order="+$(this).val();
            });

            $('.stats').css('height', function() {
                return $(this).width();
            })

            google.charts.load('current', {'packages':['corechart']});
            google.charts.setOnLoadCallback(drawChart);

            var options = {
                legend: 'none',
                slices: {
                    0: {
                        color: '#F1F3F6'
                    },
                    1: {
                        color: '#94DBEE'
                    },
                    2: {
                        color: '#EC8484'
                    },
                    3: {
                        color: '#FFFF99'
                    }
                },
                chartArea: {
                    width: '100%',
                    height: '100%',
                    left: 0,
                    top: 0
                },
                pieSliceTextStyle: {
                    color: '#6a6c6f'
                }
            };

            function drawChart() {
                {% for type, stats in statsTeam %}
                    var data = google.visualization.arrayToDataTable([
                        ['Equipe', '{{ type }}']
                        {% for team in stats %}
                            , ["{{ team.name }}", {{ team.points }}]
                        {% endfor %}
                    ]);

                    var formatter = new google.visualization.NumberFormat({
                        pattern: '### ### ### ###'
                    });
                    formatter.format(data, 1);

                    var chart = new google.visualization.PieChart(document.getElementById('teamStats_{{  type }}'));

                    chart.draw(data, options);
                {% endfor %}
            }
        });
    </script>
{% endblock %}
