{% extends 'base.html.twig' %}

{% block title %}{{ "title.index" | trans }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{ 'title.index' | trans }}
                    <div class="tools">
                        <a href="{{ path('bot') }}" class="btn btn-default btn-xs">
                            {{ 'title.bot' | trans }}
                        </a>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th class="{{ app.request.query.get('order') == 'username' ? app.request.query.get('way', 'ASC') }}">
                                    <a href="{{ path('index', {
                                        'order': 'username',
                                        'way': app.request.query.get('order') == 'username' and app.request.query.get('way', 'ASC') == 'ASC' ? 'DESC' : 'ASC'
                                    }) }}">
                                        {{ "trainer" | trans }}
                                    </a>
                                </th>
                                <th class="text-center {{ app.request.query.get('order') == 'level' ? app.request.query.get('way', 'DESC') }}">
                                    <a href="{{ path('index', {
                                        'order': 'level',
                                        'way': app.request.query.get('order') == 'level' and app.request.query.get('way', 'DESC') == 'DESC' ? 'ASC' : 'DESC'
                                    }) }}">
                                        {{ "player.level" | trans }}
                                    </a>
                                </th>
                                <th class="text-center {{ app.request.query.get('order', 'xp') == 'xp' ? app.request.query.get('way', 'DESC') }}">
                                    <a href="{{ path('index', {
                                        'order': 'xp',
                                        'way': app.request.query.get('order', 'xp') == 'xp' and app.request.query.get('way', 'DESC') == 'DESC' ? 'ASC' : 'DESC'
                                    }) }}">
                                        {{ "player.xp" | trans }}
                                    </a>
                                </th>
                                <th class="text-center {{ app.request.query.get('order') == 'km' ? app.request.query.get('way', 'DESC') }}">
                                    <a href="{{ path('index', {
                                        'order': 'km',
                                        'way': app.request.query.get('order') == 'km' and app.request.query.get('way', 'DESC') == 'DESC' ? 'ASC' : 'DESC'
                                    }) }}">
                                        {{ "player.km" | trans }}
                                    </a>
                                </th>
                                <th class="text-center {{ app.request.query.get('order') == 'discovered' ? app.request.query.get('way', 'DESC') }}">
                                    <a href="{{ path('index', {
                                        'order': 'discovered',
                                        'way': app.request.query.get('order') == 'discovered' and app.request.query.get('way', 'DESC') == 'DESC' ? 'ASC' : 'DESC'
                                    }) }}">
                                        {{ "player.discovered" | trans }}
                                    </a>
                                </th>
                                <th class="text-center {{ app.request.query.get('order') == 'pokedex' ? app.request.query.get('way', 'DESC') }}">
                                    <a href="{{ path('index', {
                                        'order': 'pokedex',
                                        'way': app.request.query.get('order') == 'pokedex' and app.request.query.get('way', 'DESC') == 'DESC' ? 'ASC' : 'DESC'
                                    }) }}">
                                        {{ "player.pokedex" | trans }}
                                    </a>
                                </th>
                                <th class="text-center {{ app.request.query.get('order') == 'catched' ? app.request.query.get('way', 'DESC') }}">
                                    <a href="{{ path('index', {
                                        'order': 'catched',
                                        'way': app.request.query.get('order') == 'catched' and app.request.query.get('way', 'DESC') == 'DESC' ? 'ASC' : 'DESC'
                                    }) }}">
                                        {{ "player.catched" | trans }}
                                    </a>
                                </th>
                                <th class="text-center {{ app.request.query.get('order') == 'evolved' ? app.request.query.get('way', 'DESC') }}">
                                    <a href="{{ path('index', {
                                        'order': 'evolved',
                                        'way': app.request.query.get('order') == 'evolved' and app.request.query.get('way', 'DESC') == 'DESC' ? 'ASC' : 'DESC'
                                    }) }}">
                                        {{ "player.evolved" | trans }}
                                    </a>
                                </th>
                                <th class="text-center {{ app.request.query.get('order') == 'maxcp' ? app.request.query.get('way', 'DESC') }}">
                                    <a href="{{ path('index', {
                                        'order': 'maxcp',
                                        'way': app.request.query.get('order') == 'maxcp' and app.request.query.get('way', 'DESC') == 'DESC' ? 'ASC' : 'DESC'
                                    }) }}">
                                        {{ "player.maxcp" | trans }}
                                    </a>
                                </th>
                                <th class="text-center {{ app.request.query.get('order') == 'totalcp' ? app.request.query.get('way', 'DESC') }}">
                                    <a href="{{ path('index', {
                                        'order': 'totalcp',
                                        'way': app.request.query.get('order') == 'totalcp' and app.request.query.get('way', 'DESC') == 'DESC' ? 'ASC' : 'DESC'
                                    }) }}">
                                        {{ "player.totalcp" | trans }}
                                    </a>
                                </th>
                                <th class="text-center {{ app.request.query.get('order') == 'sign' ? app.request.query.get('way', 'ASC') }}">
                                    <a href="{{ path('index', {
                                        'order': 'sign',
                                        'way': app.request.query.get('order') == 'sign' and app.request.query.get('way', 'ASC') == 'ASC' ? 'DESC' : 'ASC'
                                    }) }}">
                                        {{ "player.sign" | trans }}
                                    </a>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                                {% for player in listUser %}
                                    {% set player = player[0] %}
                                    <tr class="team_{{ player.team }} {% if app.user == player %}active{% endif %}">
                                        <th>
                                            {{ loop.index + (( app.request.get('page', 1) - 1) * 20) }}
                                        </th>
                                        <th class="{{ app.request.query.get('order', 'xp') == 'username' ? 'order' }}">
                                            <img src="{{ asset('images/team_'~ player.team ~'.png') }}" class="team">
                                            <a href="{{ path('player', {username: player.username}) }}">
                                                {% if player.name is not empty %}
                                                    <strong>{{ player.name }}</strong>
                                                    <span class="hidden-md hidden-xs">({{ player.username }})</span>
                                                {% else %}
                                                    <strong>{{ player.username }}</strong>
                                                {% endif %}
                                            </a>
                                        </th>
                                        <td class="text-center {{ app.request.query.get('order', 'xp') == 'level' ? 'order' }}">{{ player.level }}</td>
                                        <td class="text-center {{ app.request.query.get('order', 'xp') == 'xp' ? 'order' }}">{{ player.xp }}</td>
                                        <td class="text-center {{ app.request.query.get('order', 'xp') == 'km' ? 'order' }}">{{ player.km }}</td>
                                        <td class="text-center {{ app.request.query.get('order', 'xp') == 'discovered' ? 'order' }}">{{ player.discovered }}</td>
                                        <td class="text-center {{ app.request.query.get('order', 'xp') == 'pokedex' ? 'order' }}">{{ player.pokedex | length }}</td>
                                        <td class="text-center {{ app.request.query.get('order', 'xp') == 'catched' ? 'order' }}">{{ player.catched }}</td>
                                        <td class="text-center {{ app.request.query.get('order', 'xp') == 'evolved' ? 'order' }}">{{ player.evolved }}</td>
                                        <td class="text-center {{ app.request.query.get('order', 'xp') == 'maxcp' ? 'order' }}">{{ player.maxCP }}</td>
                                        <td class="text-center {{ app.request.query.get('order', 'xp') == 'totalcp' ? 'order' }}">{{ player.totalCP }}</td>
                                        <td class="text-center {{ app.request.query.get('order', 'xp') == 'sign' ? 'order' }}">
                                            {{ player.sign | localizeddate('short', 'none') }}
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td class="text-center" colspan="12">
                                            <em>{{ "any.player" | trans }}</em>
                                        </td>
                                    </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="panel-footer">
                    {{ pagination(listUser) }}
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="glyphicon glyphicon-signal"></i> Actualités
                </div>
                <div class="panel-body">
                    {% for news in listNews %}
                        <a href="{{ path('news_view', {
                            'news': news.id
                        }) }}">
                            {{ news.datetime | localizeddate('medium', 'medium') }}
                            <br>
                            <strong>{{ news.title }}</strong>
                        </a>
                        <hr>
                    {% else %}
                        <div class="text-center">{{ 'any.news' | trans }}</div>
                    {% endfor %}
                </div>
                <div class="panel-footer">
                    <a href="{{ path('news') }}">{{ 'news.seeAll' | trans }}</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">{{ 'stats.team.xp' | trans }}</div>
                        <div class="panel-body">
                            <div id="teamStats_xp" class="stats"></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">{{ 'stats.team.km' | trans }}</div>
                        <div class="panel-body">
                            <div id="teamStats_km" class="stats"></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">{{ 'stats.team.discovered' | trans }}</div>
                        <div class="panel-body">
                            <div id="teamStats_discovered" class="stats"></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">{{ 'stats.team.catched' | trans }}</div>
                        <div class="panel-body">
                            <div id="teamStats_catched" class="stats"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
        $(function() {
            $('.stats').css('height', function() {
                return $(this).width();
            })

            google.charts.load('current', {'packages':['corechart']});
            google.charts.setOnLoadCallback(drawChart);

            var options = {
                legend: 'none',
                slices: {
                    0: {
                        color: '#F1F3F6'
                    },
                    1: {
                        color: '#94DBEE'
                    },
                    2: {
                        color: '#EC8484'
                    },
                    3: {
                        color: '#FFFF99'
                    }
                },
                chartArea: {
                    width: '100%',
                    height: '100%',
                    left: 0,
                    top: 0
                },
                pieSliceTextStyle: {
                    color: '#6a6c6f'
                }
            };

            function drawChart() {
                {% for type, stats in statsTeam %}
                    var data = google.visualization.arrayToDataTable([
                        ['Equipe', '{{ type }}']
                        {% for team in stats %}
                            , ["{{ team.name }}", {{ team.points }}]
                        {% endfor %}
                    ]);

                    var formatter = new google.visualization.NumberFormat({
                        pattern: '### ### ### ###'
                    });
                    formatter.format(data, 1);

                    var chart = new google.visualization.PieChart(document.getElementById('teamStats_{{  type }}'));

                    chart.draw(data, options);
                {% endfor %}
            }
        });
    </script>
{% endblock %}
