{% extends 'base.html.twig' %}

{% block title %}Classement général{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Classement
                    <div class="tools">
                        <select id="selectOrder">
                            <option {% if app.request.query.get('order', 'xp') == 'xp' %}selected{% endif %} value="xp">XP</option>
                            <option {% if app.request.query.get('order', 'xp') == 'km' %}selected{% endif %} value="km">Km</option>
                            <option {% if app.request.query.get('order', 'xp') == 'discovered' %}selected{% endif %} value="discovered">Pokédex</option>
                            <option {% if app.request.query.get('order', 'xp') == 'catched' %}selected{% endif %} value="catched">Captures</option>
                        </select>
                    </div>
                </div>
                <div class="panel-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Joueur</th>
                            <th class="text-center">Niveau</th>
                            <th class="text-center">XP</th>
                            <th class="text-center">Km parcourus</th>
                            <th class="text-center">Pokédex</th>
                            <th class="text-center">Pokémons</th>
                            <th class="text-center">Captures</th>
                            <th class="text-center">Evolutions</th>
                            <th class="text-center">CP Max</th>
                            <th class="text-center">CP Total</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for player in listUser %}
                                <tr class="team_{{ player.team }}">
                                    <td>
                                        {{ loop.index + (( app.request.get('page', 1) - 1) * 20) }}
                                    </td>
                                    <td>
                                        <img src="{{ asset('images/team_'~ player.team ~'.png') }}" class="team">
                                        <a href="{{ path('player', {username: player.username}) }}">
                                            {% if player.name is not empty %}
                                                <strong>{{ player.name }}</strong>
                                                <span class="hidden-md hidden-xs">({{ player.username }})</span>
                                            {% else %}
                                                <strong>{{ player.username }}</strong>
                                            {% endif %}
                                        </a>
                                    </td>
                                    <td class="text-center">{{ player.level }}</td>
                                    <td class="text-center">{{ player.xp }}</td>
                                    <td class="text-center">{{ player.km }}</td>
                                    <td class="text-center">{{ player.discovered }}</td>
                                    <td class="text-center">{{ player.pokedex | length }}</td>
                                    <td class="text-center">{{ player.catched }}</td>
                                    <td class="text-center">{{ player.evolved }}</td>
                                    <td class="text-center">{{ player.maxCP }}</td>
                                    <td class="text-center">{{ player.totalCP }}</td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td class="text-center" colspan="11">
                                        <em>Aucun joueur trouvé</em>
                                    </td>
                                </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="text-center">
                        {{ pagination(listUser) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="panel panel-default">
                <div class="panel-heading">Experience par équipe</div>
                <div class="panel-body">
                    <div id="teamXpStats" class="stats"></div>
                </div>
            </div>
        </div><div class="col-sm-3">
            <div class="panel panel-default">
                <div class="panel-heading">Kilomètres parcourus par équipe</div>
                <div class="panel-body">
                    <div id="teamKmStats" class="stats"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
        $(function() {
            $('#selectOrder').on('change', function() {
                document.location.href = "{{ path('index') }}?order="+$(this).val();
            });

            $('.stats').css('height', function() {
                return $(this).width();
            })

            google.charts.load('current', {'packages':['corechart']});
            google.charts.setOnLoadCallback(drawChart);

            function drawChart() {

                var data = google.visualization.arrayToDataTable([
                    ['Team', 'XP']
                    {% for team in teamXpStats %}
                    , ["{{ team.name }}", {{ team.xp }}]
                    {% endfor %}
                ]);

                var formatter = new google.visualization.NumberFormat({
                    pattern: '### ### ### ###'
                });
                formatter.format(data, 1);

                var options = {
                    legend: 'none',
                    slices: {
                        {% for team in teamXpStats %}
                            {{ loop.index0 }}: { color: '{{ team.color }}' },
                        {% endfor %}
                    },
                    chartArea: {
                        width: '100%',
                                height: '100%',
                                left: 0,
                                top: 0
                    },
                    pieSliceTextStyle: {
                        color: '#6a6c6f'
                    }
                };

                var chart = new google.visualization.PieChart(document.getElementById('teamXpStats'));

                chart.draw(data, options);

                var data = google.visualization.arrayToDataTable([
                    ['Team', 'KM']
                    {% for team in teamKmStats %}
                        , ["{{ team.name }}", {{ team.km }}]
                    {% endfor %}
                ]);

                var formatter = new google.visualization.NumberFormat({
                    pattern: '### ### ### ###'
                });
                formatter.format(data, 1);

                var options = {
                    legend: 'none',
                    slices: {
                {% for team in teamKmStats %}
                    {{ loop.index0 }}: { color: '{{ team.color }}' },
                {% endfor %}
            },
                chartArea: {
                    width: '100%',
                            height: '100%',
                            left: 0,
                            top: 0
                },
                pieSliceTextStyle: {
                    color: '#6a6c6f'
                }
            };

                var chart = new google.visualization.PieChart(document.getElementById('teamKmStats'));

                chart.draw(data, options);
            }
        });
    </script>
{% endblock %}
