{% extends 'base.html.twig' %}

{% block title %}Pokemon Stats{% endblock %}

{% block body %}
    <div class="panel panel-default">
        <div class="panel-heading">
            Classement
        </div>
        <div class="panel-body">
            <table class="table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Joueur</th>
                    <th class="text-center">Points</th>
                    <th class="text-center">Pokédex</th>
                    <th class="text-center">Pokémons</th>
                    <th class="text-center">Captures</th>
                    <th class="text-center">Evolutions</th>
                </tr>
                </thead>
                <tbody>
                {% for player in listUser %}
                    <tr class="team_{{ player.team }}">
                        <td>
                            {{ loop.index + (( app.request.get('page', 1) - 1) * 10) }}
                        </td>
                        <td>
                            <img src="{{ asset('images/team_'~ player.team ~'.png') }}" class="team">
                            <a href="{{ path('player', {username: player.username}) }}">
                                {% if player.name is not empty %}
                                    <strong>{{ player.name }}</strong>
                                    <span class="hidden-md hidden-xs">({{ player.username }})</span>
                                {% else %}
                                    <strong>{{ player.username }}</strong>
                                {% endif %}
                            </a>
                        </td>
                        <td class="text-center">{{ player.xp | number_format(0, ',', ' ') }}</td>
                        <td class="text-center">{{ player.discovered }}</td>
                        <td class="text-center">{{ player.pokedex | length }}</td>
                        <td class="text-center">{{ player.catched }}</td>
                        <td class="text-center">{{ player.evolved }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td class="text-center" colspan="7">
                            <em>Aucun joueur trouvé</em>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="7" class="text-center">
                        {{ pagination(listUser) }}
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
{% endblock %}
