{% extends 'base.html.twig' %}

{% block title %}{{ 'title.notification' | trans }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-8 col-sm-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{ 'title.notification' | trans }}
                    <div class="tools">
                        <a href="{{ path('notification_read_all') }}" title="{{ 'notification.readAll' | trans }}">
                            <i class="glyphicon glyphicon-eye-open"></i>
                        </a>
                    </div>
                </div>
                <div class="panel-body" id="listNotification">
                    {% for notification in listNotification %}
                        <a href="{{ notificationLink(notification) }}" class="{% if notification.read %}read{% endif %}">
                            <div class="icon">
                                <i class="glyphicon glyphicon-{{ notification.icon }}"></i>
                                {{ notification.category | trans([], 'notification') }}
                            </div>
                            <div class="main">
                                <b>{{ notification.datetime | localizeddate('medium', 'medium', app.request.locale) }}</b>
                                <p>{{ notification.code | trans(notification.params, 'notification') }}</p>
                            </div>
                        </a>
                    {% else %}
                        <div class="text-center">
                            <em>{{ 'any.notification' | trans }}</em>
                        </div>
                    {% endfor %}
                </div>
                <div class="panel-footer">{{ pagination(listNotification) }}</div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/notification.css') }}">
{% endblock %}
