{% extends 'base.html.twig' %}
{% block title %}{{ 'trainer' | trans }} {{ user.username }}{% endblock %}
{% block body %}
    <div class="row animated-panel">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                        <div class="tools">
                            {% if app.user == user %}
                                <a href="{{ path('account') }}" title="{{ "title.account" | trans}}">
                                    <i class="glyphicon glyphicon-edit"></i>
                                </a>
                                {% if not is_granted('ROLE_PREVIOUS_ADMIN') %}
                                    <a href="#" id="refresh" title="{{ "refresh" | trans }}">
                                        <i class="glyphicon glyphicon-refresh"></i>
                                    </a>
                                {% endif %}
                            {% elseif is_granted('ROLE_ADMIN') %}
                                <a href="{{ path('edit', {id: user.id}) }}" title="Modifier le profil de {{ user.username }}">
                                    <i class="glyphicon glyphicon-edit"></i>
                                </a>
                                <a href="{{ path('index', {
                                    _switch_user: user.email
                                }) }}" title="Se connecter à la place de {{ user.username }}">
                                    <i class="glyphicon glyphicon-lock"></i>
                                </a>
                            {% endif %}
                        </div>
                    {{ user.username }}
                    {% if user.name is not empty %}
                        - {{ user.name }}
                    {% endif %}
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-4 avatar">
                            <img src="{{ user.avatar }}"/>
                            <strong>{{ user.level }}</strong>
                            <div class="progressXP">
                                <div class="progress" style="width: {{ user.progress }}%"></div>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <dl class="dl-horizontal">
                                {% if app.user == user or is_granted('ROLE_ADMIN') %}
                                    <div><strong>{{ "player.email" | trans }}</strong></div>
                                {% endif %}
                                <div><strong>{{ "player.experience" | trans }}</strong></div>
                                <div><strong>{{ "player.km" | trans }}</strong></div>
                                <div><strong>{{ "player.sign" | trans }}</strong></div>
                                <div><strong>{{ "player.lastUpdate" | trans }}</strong></div>
                                <div><strong>{{ "player.discovered" | trans }}</strong></div>
                                <div><strong>{{ "player.pokedex" | trans }}</strong></div>
                                <div><strong>{{ "player.catched" | trans }}</strong></div>
                                <div><strong>{{ "player.evolved" | trans }}</strong></div>
                            </dl>
                        </div>
                        <div class="col-xs-4">
                            {% if app.user == user or is_granted('ROLE_ADMIN') %}
                                <div>{{ user.email }}</div>
                            {% endif %}
                            <div>{{ user.xp }}</div>
                            <div>{{ user.km }}</div>
                            <div>
                                {% if user.sign is not null %}
                                    {{ user.sign | localizeddate('medium', 'none', app.request.locale) }}
                                {% else %}
                                    <em>{{ 'any.empty' | trans }}</em>
                                {% endif %}
                            </div>
                            <div>
                                {% if user.lastUpdate is not null %}
                                    {{ user.lastUpdate | localizeddate('medium', 'medium', app.request.locale)  }}
                                {% else %}
                                    <em>{{ 'any.empty' | trans }}</em>
                                {% endif %}
                            </div>
                            <div>{{ user.discovered }}</div>
                            <div>{{ user.pokedex | length }}</div>
                            <div>{{ user.catched }}</div>
                            <div>{{ user.evolved }}</div>
                        </div>
                        {% if user.cheater %}
                            <div class="col-xs-12">
                                <div class="alert alert-warning">
                                    {{ 'cheater.message' | trans }}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{ 'menu.cluster' | trans }}
                </div>
                <div class="panel-body">
                    <table class="table table-stripped">
                        <thead>
                            <tr>
                                <th>{{ "cluster.name" | trans }}</th>
                                <th class="text-center">{{ "cluster.members" | trans }}</th>
                                <th class="text-center">{{ "cluster.xp" | trans }}</th>
                                <th class="text-center">{{ "cluster.discovered" | trans }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for cluster in user.clusters %}
                                <tr>
                                    <td>
                                        <a href="{{ path('cluster_view', {
                                            'cluster': cluster.id
                                        }) }}" title="Voir le groupe">
                                            {{ cluster.name }}
                                        </a>
                                    </td>
                                    <td class="text-center">{{ cluster.users | length }}</td>
                                    <td class="text-center">{{ cluster.total('xp') }}</td>
                                    <td class="text-center">{{ cluster.total('discovered') }}</td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td class="text-center" colspan="4">
                                        <em>{{ "any.cluster" | trans }}</em>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="row" id="listPokemon">
                <div class="col-xs-12">
                    <div class="panel">
                        <div class="panel-heading">
                            {{ 'player.discovered' | trans }}
                            <div class="tools">
                                <select id="selectOrder">
                                    <option {% if app.request.query.get('order', 'cp') == "cp" %}selected{% endif %} value="cp">{{ 'pokemon.cp' | trans }}</option>
                                    <option {% if app.request.query.get('order', 'cp') == "attack" %}selected{% endif %} value="attack">{{ 'pokemon.attack' | trans }}</option>
                                    <option {% if app.request.query.get('order', 'cp') == "defense" %}selected{% endif %} value="defense">{{ 'pokemon.defense' | trans }}</option>
                                    <option {% if app.request.query.get('order', 'cp') == "stamina" %}selected{% endif %} value="stamina">{{ 'pokemon.stamina' | trans }}</option>
                                    <option {% if app.request.query.get('order', 'cp') == "iv" %}selected{% endif %} value="iv">{{ 'pokemon.iv' | trans }}</option>
                                    <option {% if app.request.query.get('order', 'cp') == "pokemon" %}selected{% endif %} value="pokemon">{{ 'pokemon.id' | trans }}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                {% for pokemon in listPokemon %}
                    <div class="col-sm-4 col-xs-6">
                        <div class="panel pokemon">
                            <div class="panel-body">
                                <div class="details">
	                                <span class="img" style="background-image: url('{{ pokemon.pokemon.image }}');" />
	                                <span class="cp">{{ pokemon.cp }}</span>
	                                <span class="pokeball">
	                                    {{ 'pokeball' | transchoice(pokemon.pokeball, [], 'pokemon')}}
	                                </span>
                                </div>
                                <div class="stats">
	                                <div class="progress">
                                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: {{ pokemon.attack / 15 * 100 | round }}%">
                                        </div>
                                        <span>{{ 'pokemon.attack' | trans }} : {{ pokemon.attack }}</span>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: {{ pokemon.defense / 15 * 100 | round }}%">
                                        </div>
                                        <span>{{ 'pokemon.defense' | trans }} : {{ pokemon.defense }}</span>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{ pokemon.stamina / 15 * 100 | round }}%">
                                        </div>
                                        <span>{{ 'pokemon.stamina' | trans }} : {{ pokemon.stamina }}</span>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: {{ pokemon.iv }}%">
                                        </div>
                                        <span>{{ 'pokemon.iv' | trans }} : {{ pokemon.iv }}%</span>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-footer">
                                <span class="title">{{ pokemon.pokemon.name(app.request.locale) }}</span>
                                <span class="type">{{ pokemon.pokemon.type }}</span>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="col-sm-12 text-center">
                        <em>{{ 'any.pokemon' | trans }}</em>
                    </div>
                {% endfor %}
            </div>

        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script>
        $(function() {
            $('#selectOrder').on('change', function() {
                document.location.href = "{{ path(app.request.get('_route'), app.request.attributes.get('_route_params')) }}?order="+$(this).val();
            });

            $('.pokemon').on('click', function() {
                if($(this).hasClass('active')) {
                    $(this).removeClass('active');
                } else {
                    $(this).addClass('active');
                }
            });

            $('#refresh').on('click', function() {
                if($(this).hasClass('loading')) {
                    return alert('Patience ...');
                } else {
                    $(this).addClass('loading');
                    $.get('{{ path('refresh') }}', function() {
                        $(this).removeClass('loading');
                        document.location.reload();
                    });

                    return false;
                }
            });
        });
    </script>
{% endblock %}
