{% extends 'base.html.twig' %}

{% block title %}{{ 'title.cluster.index' | trans }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{ 'title.cluster.index' | trans }}
                    <div class="tools">
                        <select id="selectOrder">
                            <option {% if app.request.query.get('order', 'xp') == 'xp' %}selected{% endif %} value="xp">{{ 'order.xp' | trans }}</option>
                            <option {% if app.request.query.get('order', 'xp') == 'km' %}selected{% endif %} value="km">{{ 'order.km' | trans }}</option>
                            <option {% if app.request.query.get('order', 'xp') == 'discovered' %}selected{% endif %} value="discovered">{{ 'order.discovered' | trans }}</option>
                            <option {% if app.request.query.get('order', 'xp') == 'catched' %}selected{% endif %} value="catched">{{ 'order.catched' | trans }}</option>
                        </select>
                        <a href="{{ path("cluster_add") }}" title="{{ 'title.cluster.add' | trans }}">
                            <i class="glyphicon glyphicon-plus"></i>
                        </a>
                    </div>
                </div>
                <div class="panel-body">
                    <table class="table table-stripped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>{{ 'cluster.name' | trans }}</th>
                                <th class="text-center">{{ 'cluster.members' | trans }}</th>
                                <th class="text-center">{{ 'cluster.xp' | trans }}</th>
                                <th class="text-center">{{ 'player.km' | trans }}</th>
                                <th class="text-center">{{ 'player.pokemons' | trans }}</th>
                                <th class="text-center">{{ 'player.catched' | trans }}</th>
                                <th class="text-center">{{ 'player.cpmax' | trans }}</th>
                                <th class="text-center">{{ 'player.cptotal' | trans }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for cluster in listCluster %}
                                {% set cluster = cluster[0] %}
                                <tr>
                                    <td>{{ loop.index + (( app.request.get('page', 1) - 1) * 20) }}</td>
                                    <td>
                                        <a href="{{ path("cluster_view", {
                                            "cluster": cluster.id
                                        }) }}" title="Voir le groupe {{ cluster.name }}">
                                            {{ cluster.name }}
                                        </a>
                                    </td>
                                    <td class="text-center">{{ cluster.users | length }}</td>
                                    <td class="text-center">{{ cluster.total('xp') }}</td>
                                    <td class="text-center">{{ cluster.total('km') }}</td>
                                    <td class="text-center">{{ cluster.total('discovered') }}</td>
                                    <td class="text-center">{{ cluster.total('catched') }}</td>
                                    <td class="text-center">{{ cluster.maxCP }}</td>
                                    <td class="text-center">{{ cluster.totalCP }}</td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td class="text-center" colspan="9">
                                        <em>{{ 'any.cluster' | trans }}</em>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="panel-footer">
                    {{ pagination(listCluster) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script>
        $(function() {
            $('#selectOrder').on('change', function () {
                document.location.href = "{{ path('cluster') }}?order=" + $(this).val();
            });
        });
    </script>
{% endblock %}
