{% extends 'base.html.twig' %}

{% block title %}{{ 'cluster.name' | trans }} {{ cluster.name }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{ cluster.name }}
                    <div class="tools">
                        {% if app.user == cluster.admin %}
                            <a href="{{ path('cluster_edit', {
                                "cluster": cluster.id
                            }) }}" title="{{ 'cluster.edit' | trans }}" class="btn btn-default btn-xs">
                                <i class="glyphicon glyphicon-edit"></i> Modifier
                            </a>
                        {% elseif not cluster.hasRequestFrom(app.user) and not cluster.hasUser(app.user) %}
                            <a href="{{ path('cluster_join', {
                                "cluster": cluster.id
                            }) }}" title="{{ 'cluster.join' | trans }}" class="btn btn-default btn-xs">
                                <i class="glyphicon glyphicon-ok"></i> Rejoindre
                            </a>
                        {% elseif cluster.hasUser(app.user) %}
                            <a href="{{ path('cluster_abandon', {
                                "cluster": cluster.id
                            }) }}" title="{{ 'cluster.abandon' | trans }}" class="btn btn-default btn-xs">
                                <i class="glyphicon glyphicon-remove"></i> Quitter
                            </a>
                        {% endif %}
                    </div>
                </div>
                <div class="panel-body">
                    {% if cluster.hasRequestFrom(app.user) %}
                        <div class="alert alert-warning">
                            {{ 'cluster.request.message' | trans }}

                            <a href="{{ path('cluster_cancelRequest', {
                                "cluster": cluster.id
                            }) }}" class="pull-right">{{ 'cancel' | trans }}</a>
                        </div>
                    {% endif %}
                    {{ cluster.presentation }}
                </div>
            </div>
            {% if app.user == cluster.admin and not cluster.isOpened() %}
                <div class="panel panel-default">
                    <div class="panel-heading">{{ 'cluster.request.title' | trans }}</div>
                    <div class="panel-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>{{ 'trainer' | trans }}</th>
                                    <th>{{ 'player.level' | trans }}</th>
                                    <th>{{ 'player.xp' | trans }}</th>
                                    <td>{{ 'date' | trans }}</td>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for request in listRequest %}
                                    <tr class="team_{{ request.user.team }}">
                                        <td>
                                            <img src="{{ asset('images/team_'~ request.user.team ~'.png') }}" class="team">
                                            <a href="{{ path('player', {username: request.user.username}) }}">
                                                {% if request.user.name is not empty %}
                                                    <strong>{{ request.user.name }}</strong>
                                                    <span class="hidden-md hidden-xs">({{ request.user.username }})</span>
                                                {% else %}
                                                    <strong>{{ request.user.username }}</strong>
                                                {% endif %}
                                            </a>
                                        </td>
                                        <td>{{ request.user.level }}</td>
                                        <td>{{ request.user.xp }}</td>
                                        <td>{{ request.datetime | localizeddate('medium', 'medium', app.request.locale )}}</td>
                                        <td class="text-right">
                                            <a href="{{ path('cluster_accept_request', {
                                                "request": request.id
                                            }) }}" title="{{ 'cluster.request.accept' | trans }}">
                                                <i class="glyphicon glyphicon-ok"></i>
                                            </a>
                                            <a href="{{ path('cluster_reject_request', {
                                                "request": request.id
                                            }) }}" title="{{ 'cluster.request.reject' | trans }}">
                                                <i class="glyphicon glyphicon-remove"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="5" class="text-center">
                                            <em>{{ 'any.request' | trans }}</em>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{ 'statistics' | trans }}
                </div>
                <div class="panel-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th></th>
                                <th class="text-center">Total</th>
                                <th class="text-center">Moyenne</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>{{ 'cluster.members' | trans }}</th>
                                <td colspan="2" class="text-center">{{ cluster.users | length }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'player.xp' | trans }}</th>
                                <td class="text-center">{{ cluster.total('xp') }}</td>
                                <td class="text-center">{{ (cluster.total('xp') / (cluster.users | length)) | round }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'player.km' | trans }}</th>
                                <td class="text-center">{{ cluster.total('km') }}</td>
                                <td class="text-center">{{ (cluster.total('km') / (cluster.users | length)) | round }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'player.discovered' | trans }}</th>
                                <td class="text-center">{{ cluster.total('discovered') }}</td>
                                <td class="text-center">{{ (cluster.total('discovered') / (cluster.users | length)) | round }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'player.pokedex' | trans }}</th>
                                <td class="text-center">{{ cluster.totalPokedex }}</td>
                                <td class="text-center">{{ (cluster.totalPokedex / (cluster.users | length)) | round}}</td>
                            </tr>
                            <tr>
                                <th>{{ 'player.catched' | trans }}</th>
                                <td class="text-center">{{ cluster.total('catched') }}</td>
                                <td class="text-center">{{ (cluster.total('catched') / (cluster.users | length)) | round }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'player.totalcp' | trans }}</th>
                                <td class="text-center">{{ cluster.totalCP }}</td>
                                <td class="text-center">{{ (cluster.totalCP / (cluster.users | length)) | round }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'player.maxcp' | trans }}</th>
                                <td class="text-center" colspan="2">{{ cluster.maxCP }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{ 'ranking' | trans }}
                </div>
                <div class="panel-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th class="{{ app.request.query.get('order') == 'username' ? app.request.query.get('way', 'DESC') }}">
                                <a href="{{ path('cluster_view', {
                                    'order': 'username',
                                    "cluster": cluster.id,
                                    'way': app.request.query.get('order') == 'username' and app.request.query.get('way', 'ASC') == 'ASC' ? 'DESC' : 'ASC'
                                }) }}">
                                    {{ "trainer" | trans }}
                                </a>
                            </th>
                            <th class="text-center {{ app.request.query.get('order') == 'level' ? app.request.query.get('way', 'DESC') }}">
                                <a href="{{ path('cluster_view', {
                                    'order': 'level',
                                    "cluster": cluster.id,
                                    'way': app.request.query.get('order') == 'level' and app.request.query.get('way', 'DESC') == 'DESC' ? 'ASC' : 'DESC'
                                }) }}">
                                    {{ "player.level" | trans }}
                                </a>
                            </th>
                            <th class="text-center {{ app.request.query.get('order', 'xp') == 'xp' ? app.request.query.get('way', 'DESC') }}">
                                <a href="{{ path('cluster_view', {
                                    'order': 'xp',
                                    "cluster": cluster.id,
                                    'way': app.request.query.get('order', 'xp') == 'xp' and app.request.query.get('way', 'DESC') == 'DESC' ? 'ASC' : 'DESC'
                                }) }}">
                                    {{ "player.xp" | trans }}
                                </a>
                            </th>
                            <th class="text-center {{ app.request.query.get('order') == 'km' ? app.request.query.get('way', 'DESC') }}">
                                <a href="{{ path('cluster_view', {
                                    'order': 'km',
                                    "cluster": cluster.id,
                                    'way': app.request.query.get('order') == 'km' and app.request.query.get('way', 'DESC') == 'DESC' ? 'ASC' : 'DESC'
                                }) }}">
                                    {{ "player.km" | trans }}
                                </a>
                            </th>
                            <th class="text-center {{ app.request.query.get('order') == 'discovered' ? app.request.query.get('way', 'DESC') }}">
                                <a href="{{ path('cluster_view', {
                                    'order': 'discovered',
                                    "cluster": cluster.id,
                                    'way': app.request.query.get('order') == 'discovered' and app.request.query.get('way', 'DESC') == 'DESC' ? 'ASC' : 'DESC'
                                }) }}">
                                    {{ "player.discovered" | trans }}
                                </a>
                            </th>
                            <th class="text-center {{ app.request.query.get('order') == 'pokedex' ? app.request.query.get('way', 'DESC') }}">
                                <a href="{{ path('cluster_view', {
                                    'order': 'pokedex',
                                    "cluster": cluster.id,
                                    'way': app.request.query.get('order') == 'pokedex' and app.request.query.get('way', 'DESC') == 'DESC' ? 'ASC' : 'DESC'
                                }) }}">
                                    {{ "player.pokedex" | trans }}
                                </a>
                            </th>
                            <th class="text-center {{ app.request.query.get('order') == 'catched' ? app.request.query.get('way', 'DESC') }}">
                                <a href="{{ path('cluster_view', {
                                    'order': 'catched',
                                    "cluster": cluster.id,
                                    'way': app.request.query.get('order') == 'catched' and app.request.query.get('way', 'DESC') == 'DESC' ? 'ASC' : 'DESC'
                                }) }}">
                                    {{ "player.catched" | trans }}
                                </a>
                            </th>
                            <th class="text-center {{ app.request.query.get('order') == 'evolved' ? app.request.query.get('way', 'DESC') }}">
                                <a href="{{ path('cluster_view', {
                                    'order': 'evolved',
                                    "cluster": cluster.id,
                                    'way': app.request.query.get('order') == 'evolved' and app.request.query.get('way', 'DESC') == 'DESC' ? 'ASC' : 'DESC'
                                }) }}">
                                    {{ "player.evolved" | trans }}
                                </a>
                            </th>
                            <th class="text-center {{ app.request.query.get('order') == 'maxcp' ? app.request.query.get('way', 'DESC') }}">
                                <a href="{{ path('cluster_view', {
                                    'order': 'maxcp',
                                    "cluster": cluster.id,
                                    'way': app.request.query.get('order') == 'maxcp' and app.request.query.get('way', 'DESC') == 'DESC' ? 'ASC' : 'DESC'
                                }) }}">
                                    {{ "player.maxcp" | trans }}
                                </a>
                            </th>
                            <th class="text-center {{ app.request.query.get('order') == 'totalcp' ? app.request.query.get('way', 'DESC') }}">
                                <a href="{{ path('cluster_view', {
                                    'order': 'totalcp',
                                    "cluster": cluster.id,
                                    'way': app.request.query.get('order') == 'totalcp' and app.request.query.get('way', 'DESC') == 'DESC' ? 'ASC' : 'DESC'
                                }) }}">
                                    {{ "player.totalcp" | trans }}
                                </a>
                            </th>
                            <th class="text-center {{ app.request.query.get('order') == 'sign' ? app.request.query.get('way', 'DESC') }}">
                                <a href="{{ path('cluster_view', {
                                    'order': 'sign',
                                    "cluster": cluster.id,
                                    'way': app.request.query.get('order') == 'sign' and app.request.query.get('way', 'ASC') == 'ASC' ? 'DESC' : 'ASC'
                                }) }}">
                                    {{ "player.sign" | trans }}
                                </a>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for player in listUser %}
                            {% set player = player[0] %}
                            <tr class="team_{{ player.team }} {% if app.user == player %}active{% endif %}" data-toggle="tooltip" data-placement="top" data-title="{{ 'player.lastUpdate' | trans }} :<br><strong>{{ player.lastUpdate | localizeddate("full", "medium") }}</strong>">
                                <td>
                                    {{ loop.index + (( app.request.get('page', 1) - 1) * 20) }}
                                </td>
                                <td class="{{ app.request.query.get('order', 'xp') == 'username' ? 'order' }}">
                                    <img src="{{ asset('images/team_'~ player.team ~'.png') }}" class="team">
                                    <a href="{{ path('player', {username: player.username}) }}">
                                        {% if player.name is not empty %}
                                            <strong>{{ player.name }}</strong>
                                            <span class="hidden-md hidden-xs">({{ player.username }})</span>
                                        {% else %}
                                            <strong>{{ player.username }}</strong>
                                        {% endif %}
                                    </a>
                                </td>
                                <td class="text-center {{ app.request.query.get('order', 'xp') == 'level' ? 'order' }}">{{ player.level }}</td>
                                <td class="text-center {{ app.request.query.get('order', 'xp') == 'xp' ? 'order' }}">{{ player.xp }}</td>
                                <td class="text-center {{ app.request.query.get('order', 'xp') == 'km' ? 'order' }}">{{ player.km }}</td>
                                <td class="text-center {{ app.request.query.get('order', 'xp') == 'discovered' ? 'order' }}">{{ player.discovered }}</td>
                                <td class="text-center {{ app.request.query.get('order', 'xp') == 'pokedex' ? 'order' }}">{{ player.pokedex | length }}</td>
                                <td class="text-center {{ app.request.query.get('order', 'xp') == 'catched' ? 'order' }}">{{ player.catched }}</td>
                                <td class="text-center {{ app.request.query.get('order', 'xp') == 'evolved' ? 'order' }}">{{ player.evolved }}</td>
                                <td class="text-center {{ app.request.query.get('order', 'xp') == 'maxcp' ? 'order' }}">{{ player.maxCP }}</td>
                                <td class="text-center {{ app.request.query.get('order', 'xp') == 'totalcp' ? 'order' }}">{{ player.totalCP }}</td>
                                <td class="text-center {{ app.request.query.get('order', 'xp') == 'sign' ? 'order' }}">
                                    {{ player.sign | localizeddate('short', 'none') }}
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td class="text-center" colspan="12">
                                    <em>{{ "any.player" | trans }}</em>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="panel-footer">
                    {{ pagination(listUser) }}
                </div>
            </div>
        </div>
    </div>
    {% if app.user == cluster.admin %}
        <div class="text-right">
            <a href="{{ path('cluster_remove', {
                'cluster': cluster.id
            }) }}" title="{{ 'cluster.delete' | trans }}" id="remove">
                {{ 'cluster.delete' | trans }}
                <i class="glyphicon glyphicon-trash"></i>
            </a>
        </div>
    {% endif %}
{% endblock %}

{% block javascript %}
    <script>
        $(function() {
            $('#remove').on('click', function() {
                return confirm('{{ 'cluster.deleteConfirm' | trans }}');
            });

            $('[data-toggle="tooltip"]').tooltip({
                html: true
            });
        });
    </script>
{% endblock %}
